.relative {
  position: relative
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mt-1 {
  margin-top: 0.25rem
}

.ml-2 {
  margin-left: 0.5rem
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-screen {
  height: 100vh
}

.min-h-full {
  min-height: 100%
}

.w-full {
  width: 100%
}

.max-w-md {
  max-width: 28rem
}

.grow {
  flex-grow: 1
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
}

.border {
  border-width: 1px
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.pt-1 {
  padding-top: 0.25rem
}

.text-center {
  text-align: center
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-red-700 {
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}

.underline {
  text-decoration-line: underline
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}
